.razdelLyizhi {
    display: flex;
    background-color: #3f729b;
}
.lyizhi_text {
    width: 50%;
    padding-top: 7.5625%;
}
.lyizhi_icon {
    width: 25%;
}
.lyizhi_zero {
    width: 25%;
}
.lyizhi_zagolov {
    font-family: FiraSans, Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 0 auto 0 26.625%;
    color: #f9f9f9;
}
.lyizhi_abz {
    font-family: FiraSans, Arial, sans-serif;
    font-weight: normal;
    font-size: 36px;
    color: #f9f9f9;
    letter-spacing: -0.028em;
    margin: 3.75% auto 0 26.625%;
    width: 63%;
}
.skis__button-wrapper {
    margin-left: 26.625%;
    margin-top: 4.25%;
    margin-right: auto;
    margin-bottom: 0;
    width: 280px;
    min-height: 56px;
    padding: 0;
}
@media screen and (max-width: 1600px){
    .lyizhi_zagolov {
        font-size: 1.5vw;
    }
    .lyizhi_abz {
        font-size: 2.25vw;
    }
}
@media screen and (max-width: 800px){
    .razdelLyizhi {
        flex-wrap: wrap;
    }
    .lyizhi_text {
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .lyizhi_icon {
        width: 50%;
    }
    .lyizhi_zero {
        width: 50%;
    }
    .lyizhi_zagolov {
        width: auto;
        margin: 0 5% 5% 5%;
        font-size: 16px;
    }
    .lyizhi_abz {
        width: auto;
        margin: 0 5% 5% 5%;
        font-size: 24px;
    }
    .skis__button-wrapper {
        margin: 0 auto;
    }
}
@media screen and (max-width: 400px){
    .razdelLyizhi {
        display: block;
    }
    .lyizhi_text {
        width: auto;
    }
    .lyizhi_icon {
        width: auto;
    }
    .lyizhi_zero {
        display: none;
    }
}