include ../button/button.pug
section.razdelLyizhi
  .lyizhi_text
    h2.lyizhi_zagolov INSTAGRAM
    p.lyizhi_abz
      | Etiam lacus dolor, tincidunt vitae
      | nisi in, vulputate placerat odio.
      | Pellentesque iaculis.
    div(class= 'skis__button-wrapper')
      +button('button button_white', 'VIEV ON INSTAGRAM')
  .lyizhi_icon
    img(src='../images/sky.png' alt='Lyizhi_Palki_Botinki')
  .lyizhi_zero