        @font-face {
            font-family: FiraSans;
            font-weight: 100;
            src: url(fonts/FiraSans-Thin.ttf),
                 url(fonteot/FiraSans-Thin.eot),
                 url(fontwoff/FiraSans-Thin.woff),
                 url(fontwoff2/FiraSans-Thin.woff2);
        }
        
        @font-face {
            font-family: FiraSans;
            font-weight: 200;
            src: url(fonts/FiraSans-ExtraLight.ttf),
                 url(fonteot/FiraSans-ExtraLight.eot),
                 url(fontwoff/FiraSans-ExtraLight.woff),
                 url(fontwoff2/FiraSans-ExtraLight.woff2);
        }
        
        @font-face {
            font-family: FiraSans;
            font-weight: 300;
            src: url(fonts/FiraSans-Light.ttf),
                 url(fonteot/FiraSans-Light.eot),
                 url(fontwoff/FiraSans-Light.woff),
                 url(fontwoff2/FiraSans-Light.woff2);
        }
        
        @font-face {
            font-family: FiraSans;
            font-weight: 400;
            src: url(fonts/FiraSans-Regular.ttf),
                 url(fonteot/FiraSans-Regular.eot),
                 url(fontwoff/FiraSans-Regular.woff),
                 url(fontwoff2/FiraSans-Regular.woff2);
        }
        
        @font-face {
            font-family: FiraSans;
            font-weight: 500;
            src: url(fonts/FiraSans-Medium.ttf),
                 url(fonteot/FiraSans-Medium.eot),
                 url(fontwoff/FiraSans-Medium.woff),
                 url(fontwoff2/FiraSans-Medium.woff2);
        }
        
        @font-face {
            font-family: FiraSans;
            font-weight: 600;
            src: url(fonts/FiraSans-SemiBold.ttf),
                 url(fonteot/FiraSans-SemiBold.eot),
                 url(fontwoff/FiraSans-SemiBold.woff),
                 url(fontwoff2/FiraSans-SemiBold.woff2);
        }
        
        @font-face {
            font-family: FiraSans;
            font-weight: 700;
            src: url(fonts/FiraSans-Bold.ttf),
                 url(fonteot/FiraSans-Bold.eot),
                 url(fontwoff/FiraSans-Bold.woff),
                 url(fontwoff2/FiraSans-Bold.woff2);
        }
        
        @font-face {
            font-family: FiraSans;
            font-weight: 800;
            src: url(fonts/FiraSans-ExtraBold.ttf),
                 url(fonteot/FiraSans-ExtraBold.eot),
                 url(fontwoff/FiraSans-ExtraBold.woff),
                 url(fontwoff2/FiraSans-ExtraBold.woff2);
        }
        
        @font-face {
            font-family: FiraSans;
            font-weight: 900;
            src: url(fonts/FiraSans-Black.ttf),
                 url(fonteot/FiraSans-Black.eot),
                 url(fontwoff/FiraSans-Black.woff),
                 url(fontwoff2/FiraSans-Black.woff2);
        }