.razdelZatyilok {
    background-color: blue;
    display: flex;
}
.zatyilok_zero {
    background-color: #282b2f;
    width: 25%;
}
.zatyilok_kontent {
    width: 75%;
    position: relative;
    background-color: blueviolet;
}
.zatyilok_text {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #212227;
    width: 33.333%;
    min-height: 55.555%;
    box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
    .zatyilok_text {
        display: block;
        position: static;
        width: auto;
        height: auto;
        min-height: 0;
        margin: 0;
    }
}
@media screen and (max-width: 800px) {
    .razdelZatyilok {
        display: block;
    }
    .zatyilok_zero {
        display: none;
    }
    .zatyilok_kontent {
        width: auto;
    }
}