section.razdelZatyilok
  include ../buttons/buttons.pug
  .zatyilok_zero
  .zatyilok_kontent
    img(src='../images/gl.png' alt='zatyilok')
    section.zatyilok_text
      h2.zagol_zatyil_2 SELF-EFFACING RAGE
      h3.zagol_zatyil_3 FT. FASCINATING COLLISION
      ul.zatyilok_abzacs
        li Director: James G. Rohrer
        li Production Company: Sycamore
        li Producer: Laura S. Carlton
        li Executive Producer: Jack M. Heckart
      //- button.zatyilok_button
        | CLICK TO PLAY //
      +button('button__back', 'CLICK TO PLAY')