include ../button/button.pug

-
  let backOfHeadButtonArgs= Object.assign({}, arguments);
  backOfHeadButtonArgs.textContent= 'CLICK TO PLAY';
  backOfHeadButtonArgs.hasIcon= true;
  backOfHeadButtonArgs.color= 'green'; 

section.razdelZatyilok
  .zatyilok_zero
  .zatyilok_kontent
    img(src='../images/gl.png' alt='zatyilok')
    section.zatyilok_text
      h2.zagol_zatyil_2 SELF-EFFACING RAGE
      h3.zagol_zatyil_3 FT. FASCINATING COLLISION
      ul.zatyilok_abzacs
        li Director: James G. Rohrer
        li Production Company: Sycamore
        li Producer: Laura S. Carlton
        li Executive Producer: Jack M. Heckart
      div(class= 'back__button-wrapper')
        +button(backOfHeadButtonArgs)
//-''