mixin button(options)
  - 
    const className= 'button';
    const {
      color= '',
      hasIcon= false,
      textContent = ''
    }= options;

    let icon;
    (hasIcon== true)? icon= ` ${className}_icon`:icon= '';

  a(class= `${className} ${className}_color_${color}${icon}` href= '#')= textContent