section.razdelRedHunter
    .containerIconRedHunter
      img(src='../images/red.png' alt='RedSkier')
    .containerTextRedHunter
      .obertZagolAbzRedHun
        h2.zagolovRedHunter SED FAUCIBUS QUIS
        p.abzRedHunter
          | Fusce bibendum luctus massa,
          | ut tincidunt lectus tincidunt in.
          | Nulla tristique ipsum vitae lacus
          | ullamcorper at dictum nunc
          | scelerisque.