.card {
    margin: 0;
    &__list-item {
        background-color: transparent; //-- Общий стиль всех элементов списка;
    }
    //-- Стили карточки "Лыжи"
    &_skis {
        margin: 0;
        width: auto;
        padding-top: 15.1%;
    }
    &_skis &__first-caption {
        font-family: FiraSans, Arial, sans-serif;
        font-weight: bold;
        font-size: 24px;
        margin: 0 auto 0 26.625%;
        color: #f9f9f9;
    }
    &_skis &__second-caption {
        display: none;
    }
    &_skis &__paragraph {
        font-family: FiraSans, Arial, sans-serif;
        font-weight: normal;
        font-size: 36px;
        color: #f9f9f9;
        letter-spacing: -0.028em;
        margin: 3.75% auto 0 26.625%;
        width: 63%;
    }
    &_skis &__list {
        display: none;
    }
    &_skis &__list-item {
        display: none;
    }
    &_skis &__button-wrapper {
        margin-left: 26.625%;
        margin-top: 4.25%;
        margin-right: auto;
        margin-bottom: 0;
        width: 280px;
        min-height: 56px;
        padding: 0;
    }
    &_skis &__copyring {
        display: none;
    }
    @media screen and (max-width: 1600px){
        &_skis &__first-caption {
            font-size: 1.5vw;
        }
        &_skis &__paragraph {
            font-size: 2.25vw;
        }
    }
    @media screen and (max-width: 800px){
        &_skis &__first-caption {
            width: auto;
            margin: 0 5% 5% 5%;
            font-size: 16px;
        }
        &_skis &__paragraph {
            width: auto;
            margin: 0 5% 5% 5%;
            font-size: 24px;
        }
        &_skis &__button-wrapper {
            margin: 0 auto;
        }
    }
    //-- Стили карточки "Контакты"
    &_contacts-left {
        margin: 0;
        width: auto;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    &_contacts-left &__first-caption {
        font-size: 24px;
        font-weight: bold;
        font-family: FiraSans, Arial, sans-serif;
        width: 62.5%;
        margin-top: 134px;
        margin-left: 26.25%;
        margin-right: auto;
        margin-bottom: 0;
    }
    &_contacts-left &__second-caption {
        display: none;
    }
    &_contacts-left &__paragraph {
        font-family: FiraSans, Arial, sans-serif;
        font-weight: normal;
        font-size: 36px;
        letter-spacing: -0.028em;
        margin-top: 30px;
        margin-left: 26.25%;
        margin-right: auto;
        margin-bottom: 14px;
        width: 62.5%;
    }
    &_contacts-left &__list {
        display: none;
    }
    &_contacts-left &__list-item {
        display: none;
    }
    &_contacts-left &__button-wrapper {
        margin-top: auto;
        margin-left: 26.25%;
        margin-right: auto;
        margin-bottom: 145px;
        width: 280px;
        min-height: 56px;
        padding: 0;
    }
    &_contacts-left &__copyring {
        display: none;
    }
    //-- Right card of contacts
    &_contacts-right {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: auto;
        flex-grow: 1;
    }
    &_contacts-right &__first-caption {
        font-size: 24px;
        font-family: FiraSans, Arial, sans-serif;
        font-weight: bold;
        width: 56.25%;
        margin-top: 134px;
        margin-left: 7.5%;
        margin-right: auto;
        margin-bottom: 0;
    }
    &_contacts-right &__second-caption {
        display: none;
    }
    &_contacts-right &__paragraph {
        font-family: FiraSans, Arial, sans-serif;
        font-weight: normal;
        font-size: 36px;
        letter-spacing: -0.028px;
        margin-top: 30px;
        margin-left: 7.5%;
        margin-right: auto;
        margin-bottom: 14px;
        width: 56.25%;
    }
    &_contacts-right &__list {
        display: none;
    }
    &_contacts-right &__list-item {
        display: none;
    }
    &_contacts-right &__button-wrapper {
        margin-top: auto;
        margin-left: 7.5%;
        margin-right: auto;
        margin-bottom: 145px;
        width: 280px;
        min-height: 56px;
        padding: 0; 
    }
    &_contacts-right &__copyring {
        display: none;
    }
    @media screen and (max-width: 1200px){
        &_contacts-left &__paragraph,
        &_contacts-right &__paragraph {
            font-size: 30px;
        }
    }
    @media screen and (max-width: 900px){
        &_contacts-left &__first-caption,
        &_contacts-right &__first-caption {
            width: auto;
            margin: 0;
            text-align: center;
        }
        &_contacts-left &__paragraph,
        &_contacts-right &__paragraph {
            width: 90%;
            margin: 5% auto 0;
            text-align: center;
            font-size: 24px;
        }
        &_contacts-left &__button-wrapper,
        &_contacts-right &__button-wrapper {
            margin: 5% auto 0;
        }
    }
    //-- Стили карточки "Затылок"
    &_backOfHead {
        padding-top: 33.75%;
        padding-bottom: 7.5%;
        margin: 0;
        width: auto;
    }
    &_backOfHead &__first-caption {
        font-family: FiraSans, Arial, sans-serif;
        font-weight: bold;
        font-size: 24px;
        color: #2ebd59;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 14.5%;
        margin-right: 14.5%;
    }
    &_backOfHead &__second-caption {
        font-family: FiraSans, Arial, sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: #2ebd59;
        margin-top: 2.25%;
        margin-left: 14.5%;
        margin-right: 14.5%;
        margin-bottom: 0px;
    }
    &_backOfHead &__paragraph {
        display: none;
    }
    &_backOfHead &__list {
        color: #f9f9f9;
        font-family: FiraSans, Arial, sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        margin-top: 7.75%;
        margin-bottom: 0px;
        margin-left: 14.5%;
        margin-right: 14.5%;
        padding: 0;
        list-style-type: none;
    }
    &_backOfHead &__list-item {
        color: inherit;
    }
    &_backOfHead &__button-wrapper {
        margin: 11.5% auto 0 14.5%;
        width: 170px;
        min-height: 49px;
        padding: 0;
    }
    &_backOfHead &__copyring {
        display: none;
    }
    @media screen and (max-width: 1600px){
        &_backOfHead &__first-caption{
            font-size: 1.5vw;
        }
        &_backOfHead &__second-caption {
            font-size: 1.125vw;
        }
        &_backOfHead &__list {
            font-size: 0.875vw;
            line-height: 1.3125vw;
        }
    }
    @media screen and (max-width: 1000px){
        &_backOfHead {
            padding: 5% 0;
        }
        &_backOfHead &__first-caption {
            font-size: 24px;
            margin: 0 5% 0;
        }
        &_backOfHead &__second-caption {
            font-size: 18px;
            margin: 18px 5% 0;
        }
        &_backOfHead &__list{
            font-size: 14px;
            line-height: 21px;
            margin: 18px 5% 0;
        }
        &_backOfHead &__button-wrapper {
            margin: 18px auto 0;            
        }
    }
    //-- Стили карточки "Колонка подвала"
    &_column {
        padding-top: 97px;
        padding-bottom: 11px;
        display: block;
        width: auto;
    }
    &_column &__first-caption {
        font-family: FiraSans, Arial, sans-serif;
        font-weight: bold;
        color: #f9f9f9;
        font-size: 18px;
        margin: 0;
    }
    &_column &__second-caption {
        font-family: FiraSans, Arial, sans-serif;
        font-weight: bold;
        color: #f9f9f9;
        font-size: 18px;
        margin: 0;
    }
    &_column &__paragraph {
        font-family: FiraSans, Arial, sans-serif;
        font-weight: normal;
        color: #8a8a8a;
        font-size: 14px;
        line-height: 21px;
        margin-top: 26px;
        margin-bottom: 0;
    }
    &_column &__list {
        display: none;
    }
    &_column &__list-item {
        display: none;
    }
    &_column &__button-wrapper {
        display: none;
    }
    &_column &__copyring {
        display: block;
        font-family: FiraSans, Arial, sans-serif;
        font-weight: normal;
        color: #8a8a8a;
        font-size: 14px;
        line-height: 21px;
        margin-top: 21px;
        margin-bottom: 0;
    }
}