doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width,initial-scale=1.0')
  title GlavStranicsa
include ../components/header/header.pug
+header('index.html', 'MAIN', 'kontaktyi.html', 'Kontaktyi', 'tovaryi.html', 'Tovaryi', 'uslugi.html', 'Uslugi')
include ../components/breadCrumbs/breadCrumbs.pug
block maincontent
  main
    include ../components/redhunter/redhunter.pug
    include ../components/gallery/gallery.pug
    include ../components/lyizhi/lyizhi.pug
    include ../components/zatyilok/zatyilok.pug
    include ../components/kontakt/kontakt.pug
include ../components/footer/footer.pug
+footer 