doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width,initial-scale=1.0')
  title GlavStranicsa
include ../components/header.pug
include ../components/breadCrumbs.pug
block maincontent
  main
    include ../components/redhunter.pug
    include ../components/gallery.pug
    include ../components/lyizhi.pug
    include ../components/zatyilok.pug
    include ../components/kontakt.pug
include ../components/footer.pug