extends index.pug
block maincontent
  -
    const contactsArgs= {}
    contactsArgs.arrOpt= [
      {
        fileName: 'index.html',
        referenceName: 'Na glavnujy',
        idName: 'pervaya_kroshka'
        },
      {
        fileName: 'kontaktyi.html',
        referenceName: 'Kontaktyi',
        idName: ''
        }
      ];
  +breadCrumbs(contactsArgs)
  main
    include ../components/infoself/infoself.pug