extends index.pug
block maincontent
  -
    const contactsArgs= {}
    contactsArgs.arrOpt= [['index.html', 'Na glavnujy', 'pervaya_kroshka'], ['kontaktyi.html', 'Kontaktyi', '']];
  +breadCrumbs(contactsArgs)
  main
    include ../components/infoself/infoself.pug