extends index.pug
block bread
  nav.container_hlebnyikh_kroshek
    ul.hlebnyie_kroshki
      li#pervaya_kroshka.hlebnaya_kroshka
        a.ssyilka_hlebnoj_kroshki(href='index.html') Na glavnujy
      li.hlebnaya_kroshka
        a.ssyilka_hlebnoj_kroshki(href='kontaktyi.html') Kontaktyi
block maincontent
  main
    include ../components/infoself.pug
