extends index.pug
block maincontent
  -
    const contactsArgs= Object.assign({}, breadCrumbsArguments);
    contactsArgs.href1= 'index.html';
    contactsArgs.refer1= 'Na glavnujy';
    contactsArgs.href2= 'kontaktyi.html';
    contactsArgs.refer2= 'Kontaktyi';
  +breadCrumbs(contactsArgs)
  main
    include ../components/infoself/infoself.pug
