extends index.pug  
block maincontent
  -
    const tovArgs= {}
    tovArgs.arrOpt= [['index.html', 'Na glavnujy', 'pervaya_kroshka'], ['tovaryi.html', 'Tovaryi', '']];
  +breadCrumbs(tovArgs)
  main
    include ../components/lyizhi/lyizhi.pug