extends index.pug  
block maincontent
  -
    const tovArgs= {}
    tovArgs.arrOpt= [
      {
        fileName: 'index.html',
        referenceName: 'Na glavnujy',
        idName: 'pervaya_kroshka'
        },
      {
        fileName: 'tovaryi.html',
        referenceName: 'Tovaryi',
        idName: ''
        }
      ];
  +breadCrumbs(tovArgs)
  main
    include ../components/lyizhi/lyizhi.pug