extends index.pug  
block maincontent
  nav.container_hlebnyikh_kroshek
    ul.hlebnyie_kroshki
      li#pervaya_kroshka.hlebnaya_kroshka
        a.ssyilka_hlebnoj_kroshki(href='index.html') Na glavnujy
      li.hlebnaya_kroshka
        a.ssyilka_hlebnoj_kroshki(href='tovaryi.html') Tovaryi
  main
    include ../components/lyizhi.pug