extends index.pug  
block maincontent
  -
    const tovArgs= {}
    tovArgs.href1= 'index.html';
    tovArgs.refer1= 'Na glavnujy';
    tovArgs.href2= 'tovaryi.html';
    tovArgs.refer2= 'Tovaryi';
  +breadCrumbs(tovArgs)
  main
    include ../components/lyizhi/lyizhi.pug