extends index.pug
block maincontent
  -
    const uslArgs= {}
    uslArgs.arrOpt= [['index.html', 'Na glavnujy', 'pervaya_kroshka'], ['uslugi.html', 'Uslugi', '']];
  +breadCrumbs(uslArgs)
  main
    include ../components/zatyilok/zatyilok.pug