section.razdelGallery
    div
      img(src='../images/sec.png' alt='KanDoroga')
    div
      img(src='../images/sec4.png' alt='NaLyizhax')
    div
      img(src='../images/sec3.png' alt='Botinok')
    div
      img(src='../images/sec2.png' alt='Goryi')