header
  .header__content
    .header__row-navigation
      a.header__logotype(href='index.html') /.
      button#btn.header__btn-menu
        span.header__btn-menu-paragraph
          | MENU
      nav#menu.header__navigation
        ul
          li
            a(href='index.html') MAIN
          li
            a(href='kontaktyi.html') Kontaktyi
          li
            a(href='tovaryi.html') Tovaryi
          li
            a(href='uslugi.html') Uslugi
    h1.header__caption-level-1
      | Amazing Dude. Amazing Life.
    p.header__paragraph-1
      | Welcome to personal site of 
      span.header__john John Doe
      | .
    p.header__paragraph-2
      | A professional skier and musician.