section.razdelKontaktyi
    .kontaktyi_1
      h2.zagolov_kontaktyi_1
        | SPOTIFY
      p.abzacs_kontaktyi_1
        | Follow me, stream and add my songs to your Spotify playlist.
      button.btn_kontaktyi_1
        | FOLLOW ON SPOTIFY INRI INRI ABRA KADABRA INRI INRI
    .kontaktyi_2
      h2.zagolov_kontaktyi_2
        | ITUNES
      p.abzacs_kontaktyi_2
        | Buy and download my songs from iTunes.
      button.btn_kontaktyi_2
        | BUY FROM ITUNES SATOR AREPO TENET OPERA ROTAS