html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #282828;
}
body {
  background-color: beige;
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
main {
  flex-grow: 1;
  background-color: #000b62;
}
footer {
  background-color: #212227;
  display: flex;
  min-height: 605px;
}
.column_left {
  width: 280px;
  margin-left: auto;
  padding-top: 97px;
  padding-bottom: 11px;
}
.zagolov_column_left {
  font-family: FiraSans;
  font-weight: 600;
  color: #f9f9f9;
  font-size: 18px;
  margin: 0;
}
.zagolov_column_left_2 {
  font-family: FiraSans;
  font-weight: 600;
  color: #f9f9f9;
  font-size: 18px;
  margin: 0;
}
.abzacs_column_left {
  font-family: FiraSans;
  font-weight: 300;
  color: #8a8a8a;
  font-size: 14px;
  line-height: 21px;
  margin-top: 26px;
  margin-bottom: 0;
}
.bottom_column_left {
  display: block;
  font-family: FiraSans;
  font-weight: 300;
  color: #8a8a8a;
  font-size: 14px;
  line-height: 21px;
  margin-top: 21px;
  margin-bottom: 0;
}
.column_middle {
  width: 180px;
  margin: 0 120px;
  padding-top: 97px;
  padding-bottom: 11px;
}
.zagolov_column_middle {
  font-family: FiraSans;
  font-weight: 600;
  color: #f9f9f9;
  font-size: 18px;
  margin: 0;
}
.abzacs_column_middle_1 {
  font-family: FiraSans;
  font-weight: 300;
  color: #8a8a8a;
  font-size: 14px;
  line-height: 21px;
  margin-top: 26px;
  margin-bottom: 0;
}
.abzacs_column_middle_2 {
  font-family: FiraSans;
  font-weight: 300;
  color: #8a8a8a;
  font-size: 14px;
  line-height: 21px;
  margin-top: 21px;
  margin-bottom: 0;
}
.zagolov_column_middle_2 {
  margin-top: 70px;
  margin-bottom: 0;
  font-family: FiraSans;
  font-weight: 600;
  color: #f9f9f9;
  font-size: 18px;
}
.list_column_middle {
  font-family: FiraSans;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin-top: 21px;
  margin-bottom: 0;
  position: relative;
  left: -2px;
  list-style-type: none;
  padding: 0;
}
.list_column_middle > li {
  color: #919191;
  list-style: none;
  background: url(imag/ikonkainternet.png) no-repeat 0 4px;
  padding-left: 24px;
}
.list_column_middle > li > a {
  color: #919191;
  text-decoration: none;
}
.list_column_middle > li > a:focus-visible {
  background-color: white;
  outline-style: solid;
  outline-offset: 0px;
  outline-width: 1px;
  outline-color: white;
  color: black;
}
.column_right {
  width: 480px;
  margin-right: auto;
  padding-top: 97px;
  padding-bottom: 11px;
}
.zagolov_1_column_right {
  font-family: FiraSans;
  font-weight: 600;
  color: #f9f9f9;
  font-size: 18px;
  margin: 0;
}
.abzacs_column_right {
  font-family: FiraSans;
  font-weight: 300;
  color: #8a8a8a;
  font-size: 14px;
  line-height: 21px;
  margin-top: 26px;
  margin-bottom: 0;
}
.btn_column_right {
  display: block;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  background-color: #4d4e52;
  border-style: none;
  text-align: left;
  height: 60px;
  position: relative;
  text-indent: 20px;
  color: #919191;
  font-family: FiraSans;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 16px;
}
.btn_column_right:focus-visible {
  outline-style: solid;
  outline-offset: 0px;
  outline-color: white;
  outline-width: 1px;
}
.icon_btn_right_column {
  position: absolute;
  top: 50%;
  right: 19px;
  transform: translateY(-50%);
}
.zagolov_2_column_right {
  font-family: FiraSans;
  font-weight: 600;
  color: #f9f9f9;
  font-size: 18px;
  margin-top: 76px;
  margin-bottom: 20px;
}
.logotype_section_right_column {
  display: block;
  margin: 0;
  word-spacing: 20px;
}
.logo_column_right {
  margin: 0;
  box-sizing: content-box;
  display: inline-block;
  border: 1px solid white;
  width: 78px;
  padding: 0;
  line-height: 78px;
  color: white;
  font-family: FiraSans;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .column_left {
    margin-left: 0.5%;
  }
  .column_middle {
    margin: 0 auto;
  }
  .column_right {
    margin-right: 0.5%;
  }
}
@media screen and (max-width: 992px) {
  footer {
    flex-wrap: wrap;
    min-height: 0;
  }
  .column_left {
    margin: 0 1%;
    width: 56%;
  }
  .column_middle {
    margin: 0 1%;
    width: 40%;
  }
  .column_right {
    margin: 0 1%;
    width: 98%;
    padding-bottom: 90px;
  }
}
@media screen and (max-width: 576px) {
  footer {
    display: block;
  }
  .column_left,
  .column_middle,
  .column_right {
    width: 97%;
    margin: 0 auto;
  }
}
header {
  background-color: yellow;
  position: relative;
}
.logotype {
  display: block;
  position: absolute;
  width: 5%;
  height: 8.888%;
  background-color: #000000;
  left: 13.125%;
  top: 9.777%;
  text-decoration: none;
  font-family: FiraSans;
  color: #ffffff;
  letter-spacing: -0.027em;
  font-weight: 700;
  font-size: 60px;
}
.logotype:focus-visible {
  outline-style: solid;
  outline-color: black;
  outline-width: 1px;
  outline-offset: 2px;
}
.text_logotype {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.zagolov_header {
  margin: 0;
  padding: 0;
  color: black;
  font-family: FiraSans;
  font-weight: 300;
  font-size: 72px;
  letter-spacing: -0.027em;
  width: 73.75%;
  display: block;
  position: absolute;
  left: 13.125%;
  top: 39%;
}
.abzacs_header {
  margin: 0;
  padding: 0;
  color: black;
  font-family: FiraSans;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: -0.027em;
  line-height: 45px;
  width: 73.75%;
  display: block;
  position: absolute;
  left: 13.125%;
  top: 59.7778%;
}
.john {
  font-weight: 600;
}
.btn_menu {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  border-style: none;
  width: 5%;
  height: 8.888%;
  right: 13.125%;
  top: 9.777%;
  background-color: transparent;
}
.btn_menu:focus-visible {
  outline-style: solid;
  outline-color: black;
  outline-width: 1px;
  outline-offset: 2px;
}
.icon_menu {
  display: block;
  position: absolute;
  width: 33.75%;
  top: 37.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ne_vidna_iconka_menu {
  display: none;
}
.container_zakryit_menu {
  display: block;
  position: absolute;
  top: 37.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ne_viden_container_zakryit_menu {
  display: none;
}
.zakryit_menu {
  display: block;
  font-family: FiraSans;
  font-weight: 600;
  color: black;
  font-size: 40px;
  transform: rotate(45deg);
}
.text_menu {
  display: block;
  position: absolute;
  left: 50%;
  top: 71.25%;
  transform: translate(-50%, -50%);
  font-family: FiraSans;
  font-weight: 300;
  color: black;
  font-size: 12px;
}
.list_menu {
  display: block;
  position: absolute;
  margin: 0;
  background-color: #4a0000;
  list-style-type: none;
  padding: 0;
  width: 120px;
  top: calc(18.7% + 5px);
  right: calc(15.625% - 60px);
}
.list_menu > li {
  display: block;
}
.list_menu > li > a {
  display: block;
  text-decoration: none;
  line-height: 1.8;
  text-indent: 6px;
  color: white;
  font-family: FiraSans;
  font-weight: 300;
  font-size: 18px;
}
.list_menu > li > a:focus-visible {
  outline-color: white;
  outline-style: solid;
  outline-offset: 0px;
  outline-width: 1px;
}
.ne_vidno_menu {
  display: none;
}
@media screen and (max-width: 1600px) {
  .logotype {
    font-size: 3.75vw;
  }
  .zagolov_header {
    font-size: 4.5vw;
  }
  .abzacs_header {
    font-size: 1.875vw;
    line-height: 2.8125vw;
  }
  .text_menu {
    font-size: 0.75vw;
  }
  .zakryit_menu {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 800px) {
  .logotype {
    width: 7.5%;
    height: 13.332%;
    font-size: 5.625vw;
  }
  .zagolov_header {
    top: 30%;
    font-size: 6vw;
  }
  .abzacs_header {
    top: 56.2%;
    font-size: 3.8vw;
    line-height: 4.8vw;
  }
  .btn_menu {
    width: 7.5%;
    height: 13.332%;
  }
  .text_menu {
    font-size: 1.125vw;
  }
  .zakryit_menu {
    font-size: 3.75vw;
  }
  .list_menu {
    right: 5px;
    top: calc(23.1% + 5px);
  }
}
@media screen and (max-width: 600px) {
  .text_menu {
    display: none;
  }
  .icon_menu {
    top: 50%;
    width: 50%;
  }
  .zakryit_menu {
    font-size: 6vw;
  }
  .container_zakryit_menu {
    top: 50%;
  }
}
@media screen and (max-width: 320px) {
  .logotype {
    font-size: 18px;
  }
  .zagolov_header {
    font-size: 19.2px;
  }
  .abzacs_header {
    font-size: 12.16px;
    line-height: 15.36px;
  }
  .zakryit_menu {
    font-size: 19px;
  }
}
.razdelGallery {
  display: flex;
  background-color: red;
}
.razdelGallery > section {
  width: 25%;
}
@media screen and (max-width: 800px) {
  .razdelGallery {
    flex-wrap: wrap;
  }
  .razdelGallery > section {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .razdelGallery {
    display: block;
  }
  .razdelGallery > section {
    width: auto;
  }
}
.razdelKontaktyi {
  background-color: red;
  margin: 0;
  padding: 0;
  min-height: 515px;
  display: flex;
  font-family: FiraSans;
  color: #f9f9f9;
}
.kontaktyi_1 {
  background-color: #2ebd59;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.zagolov_kontaktyi_1 {
  font-size: 24px;
  font-weight: 600;
  width: 62.5%;
  margin-top: 134px;
  margin-left: 26.25%;
  margin-right: auto;
  margin-bottom: 0;
}
.abzacs_kontaktyi_1 {
  font-weight: 300;
  font-size: 36px;
  letter-spacing: -0.028em;
  margin-top: 30px;
  margin-left: 26.25%;
  margin-right: auto;
  margin-bottom: 14px;
  width: 62.5%;
}
.btn_kontaktyi_1 {
  display: block;
  box-sizing: border-box;
  margin-top: auto;
  margin-left: 26.25%;
  margin-right: auto;
  margin-bottom: 145px;
  width: 280px;
  height: 56px;
  border-radius: 28px;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  border-color: #f9f9f9;
  color: #f9f9f9;
  font-family: FiraSans;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.2em;
  padding: 0px;
}
.btn_kontaktyi_1:focus-visible {
  outline-color: yellow;
  outline-width: 1px;
  outline-offset: 3px;
  outline-style: solid;
}
.kontaktyi_2 {
  background-color: #282b2f;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.zagolov_kontaktyi_2 {
  font-size: 24px;
  font-weight: 600;
  width: 56.25%;
  margin-top: 134px;
  margin-left: 7.5%;
  margin-right: auto;
  margin-bottom: 0;
}
.abzacs_kontaktyi_2 {
  font-weight: 300;
  font-size: 36px;
  letter-spacing: -0.028px;
  margin-top: 30px;
  margin-left: 7.5%;
  margin-right: auto;
  margin-bottom: 14px;
  width: 56.25%;
}
.btn_kontaktyi_2 {
  display: block;
  box-sizing: border-box;
  margin-top: auto;
  margin-left: 7.5%;
  margin-right: auto;
  margin-bottom: 145px;
  width: 280px;
  height: 56px;
  border-radius: 28px;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  border-color: #f9f9f9;
  color: #f9f9f9;
  font-family: FiraSans;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.2em;
  padding: 0px;
}
.btn_kontaktyi_2:focus-visible {
  outline-color: yellow;
  outline-width: 1px;
  outline-offset: 3px;
  outline-style: solid;
}
@media screen and (max-width: 1200px) {
  .abzacs_kontaktyi_1,
  .abzacs_kontaktyi_2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 900px) {
  .razdelKontaktyi {
    display: block;
    min-height: 0;
  }
  .kontaktyi_1,
  .kontaktyi_2 {
    width: auto;
    display: block;
    padding-top: 7%;
    padding-bottom: 7%;
  }
  .zagolov_kontaktyi_1,
  .zagolov_kontaktyi_2 {
    width: auto;
    margin: 0;
    text-align: center;
  }
  .abzacs_kontaktyi_1,
  .abzacs_kontaktyi_2 {
    width: 90%;
    margin: 5% auto 0;
    text-align: center;
    font-size: 24px;
  }
  .btn_kontaktyi_1,
  .btn_kontaktyi_2 {
    margin: 5% auto 0;
  }
}
.razdelLyizhi {
  display: flex;
  background-color: #3f729b;
}
.lyizhi_text {
  width: 50%;
  padding-top: 7.5625%;
}
.lyizhi_icon {
  width: 25%;
}
.lyizhi_zero {
  width: 25%;
}
.lyizhi_zagolov {
  font-family: FiraSans;
  font-weight: 600;
  font-size: 24px;
  margin: 0 auto 0 26.625%;
  color: #f9f9f9;
}
.lyizhi_abz {
  font-family: FiraSans;
  font-weight: 300;
  font-size: 36px;
  color: #f9f9f9;
  letter-spacing: -0.028em;
  margin: 3.75% auto 0 26.625%;
  width: 63%;
}
.lyizhi_btn {
  width: 280px;
  box-sizing: border-box;
  height: 56px;
  border-radius: 28px;
  border-width: 2px;
  border-color: #ffffff;
  background-color: #3f729b;
  font-family: FiraSans;
  color: #f9f9f9;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.2em;
  border-style: solid;
  margin-left: 26.625%;
  margin-top: 4.25%;
  display: block;
}
.lyizhi_btn:focus-visible {
  outline-color: yellow;
  outline-width: 1px;
  outline-offset: 3px;
  outline-style: solid;
}
@media screen and (max-width: 1600px) {
  .lyizhi_zagolov {
    font-size: 1.5vw;
  }
  .lyizhi_abz {
    font-size: 2.25vw;
  }
  .lyizhi_btn {
    width: 17.5vw;
    height: 3.5vw;
    font-size: 1.125vw;
    border-radius: 1.75vw;
    border-width: 0.125vw;
  }
}
@media screen and (max-width: 800px) {
  .razdelLyizhi {
    flex-wrap: wrap;
  }
  .lyizhi_text {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .lyizhi_icon {
    width: 50%;
  }
  .lyizhi_zero {
    width: 50%;
  }
  .lyizhi_zagolov {
    width: auto;
    margin: 0 5% 5% 5%;
    font-size: 16px;
  }
  .lyizhi_abz {
    width: auto;
    margin: 0 5% 5% 5%;
    font-size: 24px;
  }
  .lyizhi_btn {
    margin: 0 auto;
    width: 280px;
    height: 56px;
    border-radius: 28px;
    border-width: 2px;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .razdelLyizhi {
    display: block;
  }
  .lyizhi_text {
    width: auto;
  }
  .lyizhi_icon {
    width: auto;
  }
  .lyizhi_zero {
    display: none;
  }
}
.razdelRedHunter {
  display: flex;
  background-color: greenyellow;
}
.containerIconRedHunter,
.containerTextRedHunter {
  width: 50%;
}
.containerTextRedHunter {
  background-color: #f3f1ef;
  color: #666666;
  padding-top: 6.6875%;
}
.zagolovRedHunter {
  padding: 0;
  font-family: FiraSans;
  font-weight: 600;
  font-size: 24px;
  width: 31%;
  margin: 0 auto 0 7%;
}
.abzRedHunter {
  padding: 0;
  font-family: FiraSans;
  font-weight: 300;
  font-size: 36px;
  letter-spacing: -0.028em;
  margin: 4% auto 0 7%;
  width: 62.5%;
}
@media screen and (max-width: 1600px) {
  .zagolovRedHunter {
    font-size: 1.5vw;
  }
  .abzRedHunter {
    font-size: 2.25vw;
  }
}
@media screen and (max-width: 800px) {
  .containerIconRedHunter,
  .containerTextRedHunter {
    width: auto;
  }
  .razdelRedHunter {
    display: block;
  }
  .containerTextRedHunter {
    padding: 4%;
  }
  .zagolovRedHunter {
    width: auto;
    margin: 0;
    font-size: 16px;
  }
  .abzRedHunter {
    width: auto;
    margin: 5% 0 0;
    font-size: 24px;
  }
}
.informaciya_o_nas {
  margin-top: 7px;
  margin-bottom: 5px;
  margin-left: 7px;
  width: auto;
  font-family: FiraSans;
  color: white;
  font-size: 18px;
  font-weight: 300;
}
.razdelZatyilok {
  background-color: blue;
  display: flex;
}
.zatyilok_zero {
  background-color: #282b2f;
  width: 25%;
}
.zatyilok_kontent {
  width: 75%;
  position: relative;
  background-color: blueviolet;
}
.zatyilok_text {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #212227;
  width: 33.333%;
  height: 55.555%;
  padding-top: 11.25%;
  box-sizing: border-box;
}
.zagol_zatyil_2 {
  font-family: FiraSans;
  font-weight: 600;
  font-size: 24px;
  color: #2ebd59;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 14.5%;
}
.zagol_zatyil_3 {
  font-family: FiraSans;
  font-weight: 400;
  font-size: 18px;
  color: #2ebd59;
  margin-top: 2.25%;
  margin-left: 14.5%;
  margin-bottom: 0px;
}
.zatyilok_abzacs {
  color: #f9f9f9;
  font-family: FiraSans;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-top: 7.75%;
  margin-bottom: 0px;
  margin-left: 14.5%;
}
.zatyilok_button {
  margin-left: 14.5%;
  box-sizing: border-box;
  margin-top: 11.5%;
  width: 44%;
  border-width: 2px;
  border-style: solid;
  border-color: #2ebd59;
  color: #2ebd59;
  background-color: transparent;
  height: 49px;
  border-radius: 24.5px;
  font-size: 18px;
  font-weight: 600;
  font-family: FiraSans;
  padding: 0;
  text-align: left;
  position: relative;
  text-indent: 16px;
  display: block;
}
.zatyilok_button:focus-visible {
  outline-color: yellow;
  outline-width: 1px;
  outline-offset: 3px;
  outline-style: solid;
}
.icon_button {
  display: block;
  width: 15px;
  position: absolute;
  top: 50%;
  right: 13%;
  transform: translate(50%, -50%);
}
@media screen and (max-width: 1600px) {
  .zagol_zatyil_2 {
    font-size: 1.5vw;
  }
  .zagol_zatyil_3 {
    font-size: 1.125vw;
  }
  .zatyilok_abzacs {
    font-size: 0.875vw;
    line-height: 1.3125vw;
  }
  .zatyilok_button {
    height: 3.0625vw;
    border-radius: 1.53125vw;
    border-width: 0.125vw;
    text-indent: 1vw;
    font-size: 1.125vw;
  }
  .icon_button {
    width: 0.9375vw;
  }
}
@media screen and (max-width: 1000px) {
  .zatyilok_text {
    display: block;
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    padding: 5% 0 5%;
  }
  .zagol_zatyil_2 {
    font-size: 24px;
    margin: 0 5% 0;
  }
  .zagol_zatyil_3 {
    font-size: 18px;
    margin: 18px 5% 0;
  }
  .zatyilok_abzacs {
    font-size: 14px;
    line-height: 21px;
    margin: 18px 5% 0;
  }
  .zatyilok_button {
    margin: 18px auto 0;
    width: 176px;
    height: 49px;
    border-radius: 24.5px;
    border-width: 2px;
    font-size: 18px;
    text-indent: 16px;
  }
  .icon_button {
    width: 15px;
  }
}
@media screen and (max-width: 800px) {
  .razdelZatyilok {
    display: block;
  }
  .zatyilok_zero {
    display: none;
  }
  .zatyilok_kontent {
    width: auto;
  }
}
nav {
  background-color: #390000;
}
.hlebnyie_kroshki {
  list-style-type: none;
  padding: 0;
  text-indent: 7px;
}
.hlebnaya_kroshka {
  display: inline;
  color: white;
  font-family: FiraSans;
  font-weight: 300;
  font-size: 18px;
}
.hlebnaya_kroshka:before {
  content: "/ ";
}
.ssyilka_hlebnoj_kroshki {
  text-decoration: none;
  color: white;
}
.ssyilka_hlebnoj_kroshki:focus-visible {
  outline-style: solid;
  outline-color: white;
  outline-offset: 0px;
  outline-width: 2px;
  background-color: white;
  color: black;
}
#pervaya_kroshka:before {
  content: "";
}
@font-face {
  font-family: FiraSans;
  font-weight: 100;
  src: url(shr/FiraSans-Thin.ttf);
}
@font-face {
  font-family: FiraSans;
  font-weight: 200;
  src: url(shr/FiraSans-ExtraLight.ttf);
}
@font-face {
  font-family: FiraSans;
  font-weight: 300;
  src: url(shr/FiraSans-Light.ttf);
}
@font-face {
  font-family: FiraSans;
  font-weight: 400;
  src: url(shr/FiraSans-Regular.ttf);
}
@font-face {
  font-family: FiraSans;
  font-weight: 500;
  src: url(shr/FiraSans-Medium.ttf);
}
@font-face {
  font-family: FiraSans;
  font-weight: 600;
  src: url(shr/FiraSans-SemiBold.ttf);
}
@font-face {
  font-family: FiraSans;
  font-weight: 700;
  src: url(shr/FiraSans-Bold.ttf);
}
@font-face {
  font-family: FiraSans;
  font-weight: 800;
  src: url(shr/FiraSans-ExtraBold.ttf);
}
@font-face {
  font-family: FiraSans;
  font-weight: 900;
  src: url(shr/FiraSans-Black.ttf);
}

