doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width,initial-scale=1.0')
  title Stranicsa_kontaktov
header
  .header__content
    .header__row-navigation
      a.header__logotype(href='index.html') /.
      button#btn.header__btn-menu
        span.header__btn-menu-icon
          img(src='../images/menu.png' alt='icon')
        span.header__btn-menu-paragraph
          | MENU
      nav#menu.header__navigation
        ul
          li
            a(href='index.html') MAIN
          li
            a(href='kontaktyi.html') Kontaktyi
          li
            a(href='tovaryi.html') Tovaryi
          li
            a(href='uslugi.html') Uslugi
    h1.header__caption-level-1
      | Amazing Dude.
    h2.header__caption-level-2
      | Amazing Life.
    p.header__paragraph-1
      | Welcome to personal site of 
      span.header__john John Doe
      | .
    p.header__paragraph-2
      | A professional skier and musician.
nav.container_hlebnyikh_kroshek
  ul.hlebnyie_kroshki
    li#pervaya_kroshka.hlebnaya_kroshka
      a.ssyilka_hlebnoj_kroshki(href='index.html') Na glavnujy
    li.hlebnaya_kroshka
      a.ssyilka_hlebnoj_kroshki(href='kontaktyi.html') Kontaktyi
main
  section.informaciya_o_nas
    | telefon: 8-9xx-xx-xxx-xx 
    br
    |             adres gorodskoj: RF, Moskva, Chistoprudnyij Bulvar, dom xxx 
    br
    |             e-mail: xxxx@mail.ru 
    br
footer
  section.column_left
    h2.zagolov_column_left AMAZING DUDE
    h2.zagolov_column_left_2 AMAZING LIFE
    p.abzacs_column_left
      | Mauris ornare lobortis arcu, at sodales dolor finibus nec. In convallis risus ligula, bibendum sagittis ante cursus vitae. Donec ornare, dui nec sagittis imperdiet, nunc eros dignissim augue, ut aliquam nibh felis sit amet leo. Vivamus eu tincidunt tellus. Vestibulum quis condimentum lectus, nec aliquet lectus. Duis sollicitudin facilisis dui ac aliquet. Phasellus tempor sollicitudin augue, id hendrerit enim gravida non. Integer consequat vel arcu quis dictum. Vestibulum viverra commodo nunc eu pellentesque. Phasellus in scelerisque elit, eu ultricies mauris.
    span.bottom_column_left
      | &#x24B8;2015. all rights reserved.
  section.column_middle
    h2.zagolov_column_middle
      | CONTACT ME
    p.abzacs_column_middle_1
      | 1242 Crestview Terrace
      | Artesia Wells, TX 78001
    p.abzacs_column_middle_2
      | Phone: 830-676-7974
      | Email: halo@sitename.com
    h2.zagolov_column_middle_2
      | FOLLOW ME ON
    ul.list_column_middle
      li.elem_list_col_mid_1
        a(href='#') FACEBOOK
      li.elem_list_col_mid_2
        a(href='#') TWITTER
      li.elem_list_col_mid_3
        a(href='#') INSTAGRAM
      li.elem_list_col_mid_4
        a(href='#') SPOTIFY
  section.column_right
    h2.zagolov_1_column_right SUBSCRIBE
    p.abzacs_column_right
      | Duis sollicitudin facilisis dui ac aliquet. Phasellus tempor sollicitudin augue, id hendrerit enim gravida non. Integer consequat vel arcu quis dictum. Vestibulum viverra commodo nunc eu pellentesque.
    form.btn_column_right
      input.pole_btn_col_r(type='email' placeholder='ENTER YOUR EMAIL ADDRESS')
      button.icon_btn_right_column
    h2.zagolov_2_column_right SPONSOR
    .logotype_section_right_column
      span.logo_column_right LOGO
      | 
      span.logo_column_right LOGO
      | 
      span.logo_column_right LOGO
