doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width,initial-scale=1.0')
  title Nashi_uslugi
include ../templpug/header.pug
nav.container_hlebnyikh_kroshek
  ul.hlebnyie_kroshki
    li#pervaya_kroshka.hlebnaya_kroshka
      a.ssyilka_hlebnoj_kroshki(href='index.html') Na glavnujy
    li.hlebnaya_kroshka
      a.ssyilka_hlebnoj_kroshki(href='uslugi.html') Uslugi
main
  section.razdelZatyilok
    .zatyilok_zero
    .zatyilok_kontent
      img(src='../images/gl.png' alt='zatyilok')
      .zatyilok_text
        h2.zagol_zatyil_2 SELF-EFFACING RAGE
        h3.zagol_zatyil_3 FT. FASCINATING COLLISION
        ul.zatyilok_abzacs
          li Director: James G. Rohrer
          li Production Company: Sycamore
          li Producer: Laura S. Carlton
          li Executive Producer: Jack M. Heckart
        button.zatyilok_button
          | CLICK TO PLAY
          | 
          span.icon_button
            img(src='../images/play.png' alt='play')
include ../templpug/footer.pug