mixin breadCrumbs(options= {})
  -
    const {
      arrOpt= [
        ['', '', '']
      ]
    }= options;
  nav.container_hlebnyikh_kroshek
    ul.hlebnyie_kroshki
      each val in arrOpt
        li(class= 'hlebnaya_kroshka' id= val[2])
          a(class= "ssyilka_hlebnoj_kroshki" href= val[0])= val[1]